<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>FormulaVR</display-name>
	<welcome-file-list>
		<welcome-file>Logon.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.fvr._comun.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Servlet de autoarranque en el despliegue.</description>
		<display-name>StartUpServlet</display-name>
		<servlet-name>StartUpServlet</servlet-name>
		<servlet-class>com.fvr._servlets.StartUpServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FvrServlet</display-name>
		<servlet-name>FvrServlet</servlet-name>
		<servlet-class>com.fvr._servlets.FvrServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConfirmServlet</display-name>
		<servlet-name>ConfirmServlet</servlet-name>
		<servlet-class>com.fvr._servlets.ConfirmServlet</servlet-class>
	</servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Paypal</display-name>
    	<servlet-name>Paypal</servlet-name>
    	<servlet-class>com.fvr._comun.paypal.servlet.PaypalServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Off</display-name>
    	<servlet-name>Off</servlet-name>
    	<servlet-class>com.fvr._servlets.Off</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartUpServlet</servlet-name>
		<url-pattern>/StartUpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FvrServlet</servlet-name>
		<url-pattern>/FvrServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmServlet</servlet-name>
		<url-pattern>/ConfirmServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.fvr._servlets.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <servlet-mapping>
  	<servlet-name>Paypal</servlet-name>
  	<url-pattern>/Paypal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Off</servlet-name>
  	<url-pattern>/Off</url-pattern>
  </servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
		</taglib>
	</jsp-config>
	<resource-ref>
		<description>Para usar pool JDBC.</description>
		<res-ref-name>jdbc/agrupado</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>